{% extends "layouts/layout.html" %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/simulation.css' %}"
/>
<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <div class="ms-auto">
        <span class="ml-4">Estados: </span>
        <span class="btn-round busyField p-2 fw-bold text-light ml-1"
          >Ocupado</span
        >
        <span class="btn-round activeField p-2 fw-bold text-light m-1"
          >Disponible</span
        >
        <span class="btn-round map-cell p-2 fw-bold text-dark"
          >Deshabilitado</span
        >
      </div>
    </div>
  </div>
  <div class="card-body">
    <form
      id="plate"
      class="row"
      method="POST"
    >
      {% csrf_token %}
      <div class="col-md-3">
        <div class="">
          <div class="form-floating form-floating-custom">
            <input
              type="text"
              class="form-control uppercase"
              id="plateV"
              name="plateV"
              required
            />
            <label
              for="plateV"
              class="fw-bold"
              >Placa</label
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-grid gap-3">
          <button
            class="btn btn-primary"
            type="submit"
            id="simulation"
          >
            <i class="fa fa-save"></i>
            Ingresar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="dataDiv"></div>

<script src="{% static 'js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'js/utils/simulation.js' %}"></script>

{% if messages %} {% for message in messages %}
<script>
  $.notify(
    {
      icon: "icon-bell",
      title: "¡Correcto!",
      message: "{{message}}",
    },
    {
      type: "{% if message.tags == 'error' %}danger{% else %}success{% endif %}",
      placement: {
        from: "top",
        align: "right",
      },
      time: 1000,
    }
  );
</script>
{% endfor %} {% endif %}

<script>
  window.addEventListener("load", function () {
    printData(JSON.parse("{{ parkings|safe|escapejs }}"));
  });

  function printData(parkings) {
    var dataDiv = document.getElementById("dataDiv");
    dataDiv.innerHTML = "";

    parkings.forEach((paking) => {
      var orientation = paking.orientation == "H" ? "HORIZONTAL" : "VERTICAL";

      if (paking.spaces.length > 0) {
        var p4 = document.createElement("p4");
        p4.classList.add("card-title", "mb-3");
        p4.innerText = paking.name;

        var divCard = document.createElement("div");
        divCard.classList.add("card");

        var divCardBody = document.createElement("div");
        divCardBody.classList.add("card-body");

        var divTable = document.createElement("div");
        divTable.id = paking.name;
        divTable.classList.add("mb-4");

        divCardBody.appendChild(p4);
        divCardBody.appendChild(divTable);
        divCard.appendChild(divCardBody);
        dataDiv.appendChild(divCard);

        generateMatrix(
          paking.numberrows,
          paking.numberparq,
          orientation,
          paking.floor,
          paking.spaces,
          paking.name,
          false
        );
      }
    });
  }

  document.getElementById("plate").addEventListener("submit", function (event) {
    event.preventDefault(); // Evitar el envío del formulario
    $.ajax({
      url: '{% url "postparkings" %}',
      type: "POST",
      data: {
        plateV: document.getElementById("plateV").value,
      },
      success: function (response) {
        document.getElementById("plateV").value = null;
        if (response.success) {
          $.notify(
            {
              icon: "icon-bell",
              title: "¡Guardado!",
              message: response.message,
            },
            {
              type: "success",
              placement: {
                from: "top",
                align: "right",
              },
              time: 2000,
            }
          );
          printData(JSON.parse(response.parkings));
        } else {
          $.notify(
            {
              icon: "icon-bell",
              title: "¡Upssss algo ha pasado!",
              message: response.message,
            },
            {
              type: "danger",
              placement: {
                from: "top",
                align: "right",
              },
              time: 2000,
            }
          );
        }
      },
      error: function (error) {
        alert("Error al ejecutar la acción" + error); // Mostrar mensaje de error si ocurre algún problema
      },
    });
  });
</script>
{% endblock content %}
