{% extends "layouts/layout.html" %} {% block content %} {% load static %}

<link
  rel="stylesheet"
  href="{% static 'css/simulation.css' %}"
/>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <ul
          class="nav nav-tabs nav-line nav-color-secondary"
          id="line-tab"
          role="tablist"
        >
          <li class="nav-item">
            <a
              class="nav-link active"
              id="line-home-tab"
              data-bs-toggle="pill"
              href="#line-home"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >Simulador</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="line-profile-tab"
              data-bs-toggle="pill"
              href="#line-profile"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >Listado</a
            >
          </li>
        </ul>
        <div
          class="tab-content mt-3 mb-3"
          id="line-tabContent"
        >
          <div
            class="tab-pane fade show active"
            id="line-home"
            role="tabpanel"
            aria-labelledby="line-home-tab"
          >
            <div class="col-md-12 col-sm-12 mt-4">
              <form
                id="matrixForm"
                class="row"
              >
                <div class="col-md-3">
                  <div class="form-floating form-floating-custom">
                    <select
                      class="form-select"
                      id="floor"
                      required
                    >
                      <option value="">Seleccione...</option>
                      {% for floor in floors %}
                      <option value="{{ floor.id }}">{{ floor.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="orientation">Planta</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-floating form-floating-custom">
                    <select
                      class="form-select"
                      id="orientation"
                      required
                    >
                      <option value="HORIZONTAL">Horizontal</option>
                      <option value="VERTICAL">Vertical</option>
                    </select>
                    <label for="orientation">Orientación</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <div class="form-floating form-floating-custom">
                      <input
                        type="number"
                        class="form-control"
                        id="rows"
                      />
                      <label
                        for="rows"
                        class="fw-bold"
                        >N° Filas</label
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <div class="form-floating form-floating-custom">
                      <input
                        type="number"
                        class="form-control"
                        id="numberparq"
                        required
                      />
                      <label
                        for="numberparq"
                        class="fw-bold"
                        >Espacios por fila</label
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-2 ms-auto">
                  <div class="d-grid gap-3">
                    <button
                      class="btn btn-secondary"
                      type="submit"
                      id="simulation"
                    >
                      <i class="fas fa-cogs"></i>
                      Simular
                    </button>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-md-12">
                  <div class="card-title">
                    Información visual de la simulación
                  </div>
                  <hr />
                  <div
                    id="simulate"
                    style="height: auto; min-height: 100px"
                    class="mt-3"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="line-profile"
            role="tabpanel"
            aria-labelledby="line-profile-tab"
          >
            <div class="col-md-12 col-sm-12">
              <div class="table-responsive">
                <table
                  id="multi-filter-select"
                  class="display table table-striped table-hover"
                >
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Piso</th>
                      <th>Orientación</th>
                      <th>N° filas</th>
                      <th>Espacios por fila</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Piso</th>
                      <th>Orientación</th>
                      <th>N° filas</th>
                      <th>Espacios por fila</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for floor in parkinglots %}
                    <tr>
                      <td>{{ floor.name }}</td>
                      <td>{{ floor.floor }}</td>
                      <td>{{ floor.orientation }}</td>
                      <td>{{ floor.numberrows }}</td>
                      <td>{{ floor.numberparq }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="col-md-12">
          <div class="col-md-2">
            <div class="d-grid gap-3">
              <button
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#addRowModal"
                id="savesimulation"
              >
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/utils/simulation.js' %}"></script>

<script>
  document.getElementById("floor").addEventListener("change", function () {
    var floor = this.value;
    if (floor === "") {
      clearData();
      return;
    }
    var select = document.getElementById("floor");
    $.ajax({
      url: `{% url "simulation" %}`,
      type: "POST",
      data: {
        floor,
      },
      success: function (response) {
        clearData();
        if (response.success) {
          var orientation =
            response.parkinglot.orientation == "H" ? "HORIZONTAL" : "VERTICAL";
          document.getElementById("numberparq").value =
            response.parkinglot.numberparq;
          document.getElementById("rows").value =
            response.parkinglot.numberrows;
          document.getElementById("orientation").value = orientation;
          generateMatrix(
            response.parkinglot.numberrows,
            response.parkinglot.numberparq,
            orientation,
            select.options[select.selectedIndex].text,
            response.spaces,
            "simulate"
          );
        }
      },
      error: function (error) {
        alert("Error al ejecutar la acción"); // Mostrar mensaje de error si ocurre algún problema
      },
    });
  });

  document
    .getElementById("matrixForm")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Evitar el envío del formulario

      var rowsInput = document.getElementById("rows");
      var colsInput = document.getElementById("numberparq");

      var rows = parseInt(rowsInput.value);
      var cols = parseInt(colsInput.value);

      var orientation = document.getElementById("orientation").value;
      var select = document.getElementById("floor");
      var floor = select.options[select.selectedIndex].text;

      generateMatrix(rows, cols, orientation, floor, [], "simulate");
    });

  function clearData() {
    document.getElementById("simulate").innerHTML = "";
    document.getElementById("numberparq").value = null;
    document.getElementById("rows").value = null;
    document.getElementById("orientation").value = "HORIZONTAL";
    // document.getElementById("floor").value = "";
  }
  var SweetAlert2Demo = (function () {
    var initDemos = function () {
      $("#savesimulation").click(function (e) {
        swal({
          title: "¡Atención!",
          text: "Está seguro que desea guardar la simulación?",
          type: "warning",
          buttons: {
            confirm: {
              text: "Si, guardar",
              className: "btn btn-success",
            },
            cancel: {
              visible: true,
              className: "btn btn-danger",
            },
          },
        }).then((Acept) => {
          if (Acept) {
            var orientation = document.getElementById("orientation").value;
            var numberparq = document.getElementById("numberparq").value;
            var numberrows = document.getElementById("rows").value;
            var selectElement = document.getElementById("floor");
            var selectedIndex = selectElement.selectedIndex;
            var selectedText =
              selectElement.options[selectedIndex].text.toUpperCase();
            var floor = selectElement.options[selectedIndex].value;
            var pqEst = document.getElementsByClassName("pqEst");
            var spaces = [];
            for (let index = 0; index < pqEst.length; index++) {
              const element = pqEst[index];
              spaces.push({
                name: element.innerText,
                status: element.classList.contains("activeField"),
              });
            }
            $.ajax({
              url: '{% url "savesimulation" %}',
              type: "POST",
              data: {
                name: `${selectedText} - ${orientation}_${numberrows}_${numberparq}`,
                floor,
                orientation,
                numberparq,
                numberrows,
                spaces: JSON.stringify(spaces),
              },
              success: function (response) {
                if (response.success) {
                  $.notify(
                    {
                      icon: "icon-bell",
                      title: "¡Guardado!",
                      message: response.message,
                    },
                    {
                      type: "success",
                      placement: {
                        from: "top",
                        align: "right",
                      },
                      time: 1000,
                    }
                  );
                  clearData();
                } else {
                  $.notify(
                    {
                      icon: "icon-bell",
                      title: "¡Upssss algo ha pasado!",
                      message: response.message,
                    },
                    {
                      type: "danger",
                      placement: {
                        from: "top",
                        align: "right",
                      },
                      time: 1000,
                    }
                  );
                }
              },
              error: function (error) {
                alert("Error al ejecutar la acción"); // Mostrar mensaje de error si ocurre algún problema
              },
            });
          } else {
            swal.close();
          }
        });
      });
    };

    return {
      init: function () {
        initDemos();
      },
    };
  })();

  jQuery(document).ready(function () {
    SweetAlert2Demo.init();
  });
</script>

{% endblock content %}
